---
import Layout from '../layouts/Default.astro';
---

<Layout
	title="About Me"
	description="My timeline in reverse-chronological order."
>
	<p>
		My timeline in reverse-chronological order.
	</p>
    
    <ul>
        <li>
            <span>September, 2011</span>
            <h5>Moved to America</h5>
        </li>
        <li>
            <span>2012</span>
            <h5>Palo Alto, Silicon Valley</h5>
        </li>
    </ul>
    

</Layout>
