---
import Layout from '../layouts/Default.astro';
---

<Layout
	title="Hi, I'm Pieter"
	description="Homepage of Pieter A. de Jong, Software Engineer"
>
<main>
    <h1></h1>
			<p>
				Pieter is a Software Engineer with 10+ years experience in industries from 
				consumer finance, e-commerce, digital agriculture, and solar energy.
			</p>
			<p>
				He is based in Miami, having previously lived in NYC, San Francisco, 
				Palo Alto, CA, and Baltimore. 
				In 2011, he immigrated from the Amsterdam to Baltimore, and got an internship 
				at a Palo Alto payments startup in 2012, marking his professional start in the 
				tech world and his acquaintance with Silicon Valley.
			</p>

			<p>
				In his free time, Pieter codes on 
				<a href="https://github.com/pieteradejong" target="_blank">GitHub</a>,
				works out daily, is learning 
				<a href="https://www.ckokickboxing.com/" target="_blank">kickboxing</a>, 
				and reading his favorite accounts on 
				<a href="https://x.com/">X</a>.
			</p>
</main>
</Layout>
