---
import Layout from '../layouts/Default.astro';
---

<Layout
	title="Software Engineer"
	description="Homepage of Pieter A. de Jong, Software Engineer"
>
<main>
    <h1></h1>
		<p>
			Pieter de Jong is a Software Engineer with 7+ years experience in industry, including  
			consumer finance, e-commerce, digital agriculture, and solar energy. He started programming 
			at a young age on pre-Pentium PCs, when Windows 3.11 was the standard and noisy modems 
			connected you to the Altavista "directory of the Internet." Professionally, he started doing front-end 
			Web development, growing into fullstack development over time. 
		</p>
		<p>
			After immigrating from Amsterdam to Baltimore in 2011, he then arrived in Silicon Valley for an 
			internship at WePay, a consumer payments company. He realized he was a Technologist at heart, and fell 
			in love with the culture of Silicon Valley and technology thinking in general. 
			Over the decade ahead, he would work for 
			companies ranging from seed-stage to public, on teams small and large, scrappy and quick-moving versus 
			larger and highly structured. He has always sought to apply his passion and skill for applied mathematics, 
			developing an interest in machine learning and other areas of overlap between math and code. 
		</p>
		<p>
			Recently, he is working as a Senior Software Engineer and first outside technical hire, 
			for a rapidly growing startup, on a product with a powerful mission. 
			He is also pursuing a part-time, online MSc. in Computer Science at Georgia Tech ("OMCS").
			As if that were not enough, he aspires to someday attend Johns Hopkins' Master's program 
			for Applied and Computational Mathematics.
			He likes to write (on this very website), code (GitHub whenever there is time), and read (see section above).
		</p>
		<p>
			He is currently located in Miami, having previously lived in NYC, San Francisco, 
			Palo Alto (Silicon Valley), and Baltimore. Before that, in 2011 he immigrated 
			to Baltimore from Amsterdam, and got an internship 
			at a Palo Alto payments startup in 2012, marking his professional start in the 
			tech world and his acquaintance with Silicon Valley.
		</p>

		<p>
			In his free time, Pieter codes on 
			<a href="https://github.com/pieteradejong" target="_blank">GitHub</a>,
			works out daily, is learning 
			<a href="https://www.ckokickboxing.com/" target="_blank">kickboxing</a>, 
			and reading his favorite accounts on 
			<a href="https://x.com/">X</a>.
		</p>
</main>
</Layout>
