---
import Layout from '../layouts/Default.astro';
---

<Layout
	title="Projects and Interests"
	description="Projects and interests."
>
<h3>Projects</h3>	
<h4>Network Analysis</h4>
<a href="https://github.com/pieteradejong/networks" target="_blank">https://github.com/pieteradejong/networks</a>


<h3>Interests</h3>
<p>
		If you share any of these interests, please reach out!
	</p>
    
    <ul>
        <li>
            Computational linguistics: using computing power and data storage to perform 
            analysis on language, books, and publications.
        </li>
    </ul>
    

    <main>
        <p>
            Some of my programming work can be found on my <a href="https://github.com/pieteradejong" target="_blank">GitHub</a> profile.
        </p>
            
        <p>
            As a <b>software engineer</b> professionally since 2013, I've worked in various capacities, companies, and teams.
            My work has been in "fullstack" Web, in data pipelines and Analytics, and using a 
            variety of tools.
        </p>
    
        <p>
            Here's a <em>summary:</em> Postgres, MySQL, MongoDB, Redis;
            Python, Node.js, PHP, C#, Rust.
            Tools: Bash, Git, Docker, Terraform, CicleCI, GitHub+Actions.
        </p>
    </main>

</Layout>
