---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="My Reading"
	description=""
	pubDate={new Date()}
>
	<p>
		Reading is important to me. As for most people, the quantity of digital dominates, 
        but I've never forgotten the added quality, sensation, and permanence (as opposed to
        ephemerality and transience) of physical books. Thankfully, I've gotten back into the habit of actually 
        reading the physical books I buy.
	</p>
    <p>
        In the past, I used goodreads to keep a list of book "shelves" and reviews, but that website 
        doesn't seem to be maintained much. So I've decided to maintain my own list of books and 
        reviews, for now.
    </p>

    <p>
        My scoring methodology [to be further filled in]: I _do_ give "perfect" reviews, if I feel 
        that a book realistically couldn't have been done better. For example, as a movie trilogy, 
        The Lord of the Rings deserves a "perfect" score for many reasons.
    </p>

    <p>
        <b>Title: Mere Christianity</b>
        Author: C.S. Lewis
        Score: 100%. 
    </p>
        <b>Mine Were of Trouble</b>
        Author: Peter Kemp
    <p>
        <b>The Art of Clear Thinking</b>
        Author: Hasard Lee
    </p>

    <p>
        <b>The Physics of Resistance Exercise</b>
        Author: Doug Brignole
    </p>

</Layout>
