---
import Layout from '../layouts/Default.astro';
---

<Layout
	title="Software Engineer"
	description="Software Engineering"
>
<main>
    <p>
        Some of my programming work can be found on my <a href="https://github.com/pieteradejong" target="_blank">GitHub</a> profile.
    </p>
        
    <p>
        As a <b>software engineer</b> professionally since 2013, I've worked in various capacities, companies, and teams.
        My work has been in "fullstack" Web, in data pipelines and Analytics, and using a 
        variety of tools.
    </p>

    <p>
        Here's a <em>summary:</em> Postgres, MySQL, MongoDB, Redis;
        Python, Node.js, PHP, C#, Rust.
        Tools: Bash, Git, Docker, Terraform, CicleCI, GitHub+Actions.
    </p>
</main>
</Layout>
