---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Pieter A. de Jong.<br />
	<span class='all-right-reserved'>All rights reserved.</span>
</footer>
<style>
	footer {
		/* padding: 2em 1em 6em 1em; */
		padding: 1em 0 1em 0;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		/* color: rgb(var(--gray)); */
		text-align: center;
	}

	footer .all-right-reserved {
		font-size: 14px;
	}
</style>
